<!-- your html code here -->

<div class="box nav justify-content-center">
    <div class="card  ">
        <img src="/website/assets/img/1.jpg" class="card-img-top position-absolute top-50 end-0 translate-middle-y mx-5"
            alt="...">
        <div class="card-body ">
            <spam>
                <h2 class="card-title">This Second Headind</h2>
                <h2 class="text-secondary">Will Catch Your Eye</h2>
            </spam>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
</div>

<div class="box nav justify-content-center my-3">
    <div class="card ">
        <img src="/website/assets/img/2.jpg"
            class="card-img-top position-absolute top-50 start-0 translate-middle-y mx-5" alt="...">
        <div class="card-body">
            <spam>
                <h2 class="card-title">This Second Headind</h2>
                <h2 class="text-secondary">Is Pretty Coll Too</h2>
            </spam>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
        </div>
    </div>
</div>