<!-- your html code here -->

<div class="raw">
    <div class="col-8 ">
            <img src="/website/assets/img/1.jpg" class="picture "
                alt="...">
    </div>            
    <div class="col-4">            
                <spam>
                    <h2 class="title">This Second Headind</h2>
                    <h2 class="text-secondary">Will Catch Your Eye</h2>
                </spam>
                <p class="text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
    </div>   
</div>