<!-- your html code here -->
<div class="row position-relative my-5 mx-5">

    <div class="col md-4">
        <img src="/website/assets/img/2.jpg" class="picture " alt="...">
    </div>

    <div class="col md-8">
        <div class="text-justify">
            <div class="text-inline">
                <h2 class="title">The Second Headind</h2>
                <h2 class="text-secondary">is Pretty Cool Too.</h2>
            </div>
            <p class="text">Donec ullamcoper nula non metus auctor fringila. Vestibulum id ligula porta felis euismod
                semper. Praesent commodo cursus magna, vel scelerisque
                nisl consectetur. Fuse dapibus, tellus ac cursus commodo.
            </p>
        </div>
    </div>


</div>