<!-- your html code here -->
<div class="row position-relative">

    <div class="col md-4 ">
        <img src="./assets/img/2.jpg" class="picture_2 " alt="...">
    </div>

    <div class="col md-8">
        <div class="info_2">
                <h2 class="title">The second Headind <small class="text-muted">Is Pretty Coll Too.</small> </h2>  
                
                <p class="text">Donec ullamcoper nula non metus auctor fringila. Vestibulum id ligula porta felis euismod
                    semper. Praesent commodo cursus magna, vel scelerisque
                    nisl consectetur. Fuse dapibus, tellus ac cursus commodo.</p>
                   
            
        </div>
    </div>


</div>